# Drupal build files
drush/contrib
config/*.gz
config/*.bzip
vendor
web/core
web/modules/contrib
web/themes/contrib
web/profiles/contrib
web/libraries
web/sites/*/files
web/sites/default/settings.local.php

# Vagrant files
.vagrant
config.yml

# Cloud Foundry
cf-ssh.yml

# Eclipse project files
.project
.cache

# Other files
*.swp
.DS_Store
